.git
.gitignore
.gitattributes
.DS_Store
.env.local
node_modules
.venv
venv
*.pyc
__pycache__
.pytest_cache
.vscode
.idea
*.log
*.md
README.md
CHANGELOG.md
*.sql
.docker
Dockerfile*
docker-compose*.yml
nginx.conf
